# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Virtual environments
.venv/
ui/.venv/

# Streamlit
.streamlit/
ui/.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db